@charset "utf-8";

/* CSS Document */
@media screen and (max-width: 1450px) {
	.middleleft {
		width: 71%;
	}
}

@media screen and (max-width: 1400px) {
	.middleleft {
		width: 68%;
	}
	.topicList ul li{
		width:33%;
	}
}

@media screen and (max-width: 1300px) {
	.countsec li {
		margin: 0 30px 0 0;
	}
	.leftpan,  .rightpan,  .logo,  .header-right {
		width: 17%;
	}
	.newRight{
		width:22%;
	}
	.mainbody:before {
		left: 17%;
	}
	.middlecol {
		width: 66%;
	}
	.profilecont:after {
		margin-right: -14px;
	}
	.fixedans .ansQues{
		width: 66%;
	}
}

@media screen and (max-width: 1200px) {
	.BlogCatList ul li{
		width:33.33333333%;
	}
	.moreSub ul li{
		width:25%;
	}
	.countsec li {
		margin: 0 24px 0 0;
	}
	.left-top ul li ul li {
		margin: 15px 0 0 8px;
	}
	.headersearch {
		/*width: 40%;*/
	}
	.signupthumb {
		margin-right: 10%;
	}
	.signupwrap {
		padding: 0 6%;
	}
	.signupthumb {
		margin-top: -35px;
	}
	.signupcont h2 {
		padding: 0 6%;
		padding-top: 30px;
	}
	.questionHead h3{
		font-size:20px;
	}
	.topicList ul li {
		width: 31%;
	}
	.rightSrc{
		width:40%;
	}
	.homeComm ul{
		max-width:100%;
	}
	.headermid{
		width:53%;
	}
	.headersearch{
		width:39%;
	}
}

@media only screen and (min-width: 1100px) and (max-width: 1200px){
	.newAll.srcCont .chatRight a{
		padding:0 7px;
	}
	.newAll.srcCont .chatRight{
		right:3px;
	}
}

@media screen and (max-width: 1100px) {
	.headermid{
		width:48.5%;
		padding-left:0;
	}
	.headersearch {
		width: 31%;
	}
	.headersearch input[type="search"], .headersearch input[type="text"]{
		padding:0 14px 2px;
		padding-right:27px;
	}
	.headersearch button{
		right:10px;
	}
	.topicList ul li{
		width:49%;
	}
	.leftpan, .rightpan, .logo, .header-right {
		width: 19%;
	}
	.newRight{
		width:22%;
	}
	.mainbody:before {
		left: 19%;
	}
	.middlecol {
		width: 62%;
	}
	.countsec li {
		margin: 0 18px 0 0;
	}
	.middleleft {
		width: 66%;
	}
	.fixedans .ansQues {
		width: 62%;
	}
	.peopleForm .label{
		padding: 10px 4px;
		width: 96px;
	}
	.filterRow .textfld {
		padding-left: 105px;
	}
	.searchLeft{
		width:350px;
	}
	.searchRight{
		padding-left:375px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1100px){
	.peopleBox{
		width:100%;
		padding:0 0 0 0;
	}
	.peopleBox:nth-child(odd),
	.peopleBox:nth-child(even){
		padding:0 0 0 0;
	}
	.searchpeopleWrap .peopleBox{
		width:49%;
		padding:0 0 0 0;
	}
	.searchpeopleWrap .peopleBox:nth-child(2n){
		float:right;
	}
}
@media screen and (min-width: 1025px) {
	.hovernxt:hover .hoverSpace{
		display:block !important;
	}
	.hoverSpace{
		display:none !important;
	}
}
@media screen and (max-width: 1024px) {
	.newAll{
		overflow-y:scroll;
	}
	.profileTab .tabContWrap{
		padding-bottom:0;
	}
	.botBox{
		top:100% !important;
	}
	
}

@media screen and (max-width: 1023px) {
	.rightpan{
		padding:0 15px;
	}
	.askQs.wQs img{
		display:none;
	}
	.recHead{
		padding:15px 10px;
	}
	.recHead h2{
		font-size:21px;
	}
	.proHeight {
		min-height:100px;
	}
	.searchpeopleWrap {
		min-height: 100px;
	}
	.nextLeft{
		width:100%;
	}
	.BlogCatList ul li{
		width:25%;
	}
	.breadcrumb{
		padding:20px 10px;
	}
	.moreSub{
		padding:0 5px 0 10px;
	}
	.moreSub ul li{
		width:20%;
	}
	.contactHead{
		padding:15px 10px;
	}
	.topPeople,
	.closebar,
	.contList{
		padding:0 10px;
	}
	.searchPeople{
		padding:30px 10px;
	}
	.filterBtn{
		padding:0px 10px;
	}
	#navbarOverlay.show {
		display: block;
	}
	.invisibleLeft{
		display:block;
	}
	.topicSearch{
		padding:15px 10px;
	}
	.topicList{
		padding:8px 10px;
	}
	.askQs{
		display:none;
	}
	.smallNavbar,  #showLeft,  .showRight, .askHead {
		display: inline-block;
		vertical-align: middle;
		margin: 22px 3px;
	}
	.leftpan {
		position: fixed;
		left: -220px;
		top: 0;
		width: 220px;
		height: 100%;
		background: #fff;
		z-index: 99;
		overflow-y: scroll;
		margin-right: 0;
		margin: 0 0 0 0;
		border-right: 1px solid #dadfea;
	}
	.mainbody:before {
		content: normal;
	}
	.rightpan {
		position: fixed;
		right: -260px;
		top: 0;
		width: 220px;
		height: 100%;
		background: #fff;
		z-index: 99;
		overflow-y: scroll;
		margin-right: 0;
		margin: 0 0 0 0;
		padding-bottom: 20px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		border-left: 1px solid #dadfea;
	}
	.right-top {
		padding: 20px 0 30px;
	}
	#mainheader {
		position: relative;
	}
	.headermenu #nav {
		position: absolute;
		margin: 0;
		width: 100%;
		display: none;
		top: 100%;
		left: 0;
		z-index: 999;
	}
	.headermid {
		width: 45%;
		padding-left: 0;
	}
	.middlecol {
		width: 100%;
	}
	.logo {
		width: 21%;
	}
	.profilecont:after {
		margin-right: -12px;
	}
	.headersearch {
		width: 43%;
	}
	#nav ul li a {
		height: 45px;
		line-height: 45px;
	}
	#nav ul li {
		display: block;
		width: 100%;
		font-weight: 400;
		font-size: 16px;
		border-bottom: 1px solid #006ecb;
	}
	#nav ul li:last-child {
		border-bottom: none;
	}
	.middleleft {
		width: 74%;
	}
	.footer-right {
		margin-top: 5px;
	}
	.signupthumb {
		margin-right: 0px;
	}
	.signupwrap {
		padding: 0 15px;
	}
	.signupbox.slidestep .signupthumb {
		margin-right: 0;
		margin-top: 10%;
	}
	.signupcont h2 {
		padding: 0 10px;
		padding-top: 30px;
	}
	.signupbox .signupthumb{
		margin-right:0;
	}
	.fixedans .ansQues {
		width:100%;
	}
	.tltip {
		display: none;
		position: absolute;
		top: auto;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		right: -20px;
		bottom: 100%;
		padding: 10px;
		width: 180px;
		background: #555;
		border-radius: 3px;
		margin-bottom: 8px;
		color: #fff;
		z-index: 9;
		margin-right:0;
	}
	.tltip::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: #555 transparent transparent transparent;
		margin-top:0;
	}
	.blogRight{
		width:27%;
	}
	.blogLeft{
		width:73%;
	}
	.conRight{
		width:43%;
	}
	.conLeft{
		width:57%;
	}
	.topicList ul li {
		width: 24%;
	}
	.searchLeft{
		width:100%;
		float:none;
	}
	.filterRow .bluebtn{
		width:9%;
	}
	.filterRow input[type="text"]{
		width:100%;
	}
	.searchRight{
		width:100%;
		padding:0;
		margin-top:30px;
	}
	.smallRow{
		padding:12px 10px;
	}
	.askQs.wQs {
		display: inline-block;
		vertical-align:middle;
		float:left;
		border: 2px solid #fff;
		width: 36px;
		text-align: center;
		border-radius: 50%;
		font-size: 20px;
		line-height:1;
		height: 36px;
		color: #fff;
		background:url(../images/fnd.png) no-repeat center center;
		padding:0;
		margin-top:22px
	}
	.askQs.wQs:hover {
		background:url(../images/00.png) no-repeat center center;
		border: 2px solid #f39c11;
	}
	.askQs.wQs .fa{
		line-height: 30px;
	}
	.askQs.wQs span{
		display:none;
	}
	.askHead{
		float:right;
		margin-left:0 !important;
	}
	.newB{
		float:left;
		width:84px;
		margin-left:10px;
	}
}

@media screen and (max-width: 900px) {
	.answerlist h3{
		padding-left:10px;
		padding-right:10px;
	}
	.ansbox{
		padding:12px 10px;
	}
	.vwans{
		right:10px;
	}
	.peopleBox:last-child{
		margin-bottom:20px;
	}
	.loginpage .wrapper {
		position: static;
	}
	.loginpage .languagebox {
		position: static;
		text-align: center;
		margin-bottom: 15px;
	}
	.languagebox ul {
		display: inline-block;
	}
	.loginpage {
		padding: 35px 0 30px;
	}
	.logintag {
		font-size: 23px;
		line-height: 1;
	}
	.header-right a {
		font-size: 0;
		line-height: 0;
	}
	ul.onDesk li a {
		font-size: inherit;
		line-height: inherit;
	}
	ul.onDesk {
		width: 160px;
		left: auto;
		right: 0;
	}
	.header-right {
		width: 12%;
	}
	.headermid {
		width: 66%;
	}
	span.userthumb {
		margin-right: 0;
	}
	.middleleft {
		width: 71%;
	}
	.topfilter {
		padding: 17px 10px;
	}
	.logo, .header-right {
		padding-left: 10px;
		padding-right: 10px;
	}
	.middlerow {
		padding: 13px 10px 16px;
	}
	.signupcont h2 {
		padding: 0 10px;
		padding-top: 30px;
	}
	.signupstep {
		padding-top: 30px;
	}
	.signupsteprow .signupleft, .signupbox.formstep4 .buttonbox{
		width:400px;
	}
	.signupright{
		width:43%;
	}
	.signupsteprow .frmsml input[type="text"]{
		width:340px;
	}
	.middlerow.ansPage{
		padding:0;
	}
	.ansQues{
		padding:13px 10px 20px;
	}
	.answerlist {
		padding: 20px 10px 20px;
	}
	.headersearch {
		width: 43%;
	}
	.headermid {
		width: 54%;
	}
	.logo {
		width: 17%;
		margin-top:24px;
	}
	.logo img {
		height: 33px;
		width: auto;
	}
	.blogLeft{
		width:100%;
		max-width:750px;
		margin:0 auto;
		float:none;
		/*margin-bottom:30px;*/
		padding-right:0;
	}
	.blogRow{
		margin-bottom:20px;
	}
	.blogRight{
		width:100%;
		max-width:750px;
		margin:0 auto;
		float:none;
		padding-left:0;
		display:none;
	}
	.rightBlog{
		margin-bottom:20px;
	}
	.conRight{
		width:100%;
		max-width:750px;
		margin:0 auto;
		float:none;
		padding-left:0;
	}
	.conLeft{
		width:100%;
		max-width:750px;
		margin:0 auto;
		float:none;
		margin-bottom:20px;
		padding-right:0;
	}
	.contactMap{
		width:100%;
		max-width:750px;
		margin:0 auto;
		margin-bottom:20px;
	}
	.topicList ul li {
		width: 33%;
	}
	.searchpeopleWrap .peopleBox{
		width:49%;
		padding:0 0 0 0;
	}
	.searchpeopleWrap .peopleBox:nth-child(2n){
		float:right;
	}
}

@media screen and (max-width: 800px) {
	.signupthumb {
		width: 100px;
	}
	.signupbox{
		padding-bottom:30px;
	}
	.footermenu{
		position:static;
		webkit-transform: translate(0);
		-moz-transform: translate(0%);
		-ms-transform: translate(0);
		transform: translate(0);
		width:100%;
	}
	.copyright{
		margin-top:0;
		width:100%;
		text-align:center;
		    margin-bottom: 3px;
	}
	.footermenu ul{
		width:100%;
		text-align:center;
	}
	.footer-right{
		width:100%;
		text-align:center;
	}
	.signupright{
		width:41%;
	}
	.topicList ul li {
		width: 32%;
	}
	a.pageScroll{
		bottom:10px;
	}
}
@media screen and (min-width: 768px) {
	.smallSc{
		display:none !important;
	}
}

@media screen and (max-width: 767px) {
	
	.contactEdit input[type="text"], .contactEdit input[type="email"]{
		max-width:382px;
	}
	.BlogCatList ul li{
		width:33.33333333%;
	}
	.moreSub ul li{
		width:25%;
	}
	.peopleBox{
		width:100%;
		padding:0 0 0 0;
		margin-bottom:20px;
	}
	.peopleBox:nth-child(odd),
	.peopleBox:nth-child(even){
		padding:0 0 0 0;
	}
	.logo {
		width: 24%;
	}
	.header-right {
		width: 16%;
	}
	.headermid {
		width: 76%;
		padding-right:10px;
	}
	.headersearch {
		width:100%;
		padding-right:90px;
	}
	.headersearch form{
		position:relative;
	}
	.logo img {
		height: 33px;
		width: auto;
	}
	.middleleft {
		width: 100%;
		margin-bottom: 25px;
	}
	.middleright {
		float: left;
		width: 100%;
		text-align: left;
	}
	.topsmall {
		/*margin-bottom: 12px;*/
	}
	.ansPage  .middleright{
	}
	.ansPage  .anstopuser .usertop{display:none !important; }
	.topfilter select {
		width: 185px;
		float: right;
	}
	.filter-left span, .filter-right span {
		line-height: 36px;
	}
	.footermenu ul li {
		margin: 0 7px !important;
	}
	.footerbot {
		text-align: center;
	}
	.footermenu {
		width: 100%;
	}
	.copyright {
		width: 100%;
	}
	.answerpopup {
		padding-right: 0;
		padding-top: 40px;
	}
	.fancybox-close {
		/* opacity: 0; */
		color: #006ecb;
		font-size: 30px;
		width: 30px;
		line-height: 30px;
		height: 30px;
		top: 2px;
		right: 8px;
	}
	.popupreport {
		top: 0;
		right: 0;
	}
	.qstext {
		width: 86%;
	}
	.commentform {
		width: 87%;
	}
	.slidestep .signupleft {
		width: 470px;
	}
	.slidestep .frmsml input[type="text"] {
		width: 410px;
	}
	.sliderow .addrow {
		width: 410px;
	}
	.signupsteprow .signupleft, .signupbox.formstep4 .buttonbox{
		width:72%;
	}
	.signupright{
		width:72%;
		float:left;
		margin-bottom:15px;
	}
	.signupsteprow .frmsml input[type="text"]{
		width:84%;
	}
	.ansQues .middleright{
		margin:0 0 0px;
		    margin-bottom: 8px;
	}
	.ansQues .countsec{
		margin-bottom:4px;
		}
		.fixedans .ansQues{
			/*padding-bottom:30px;*/
		}
	.fixedans .anstopuser .question-tags{
		/*margin-top:-23px;*/
		margin-bottom:0;
	}
	.fixedans .vwans{
		bottom: 11px;
    right: 8px;
	}
	.anstopuser{
		margin-bottom:15px;
	}
	.questionHead  .topsmall{
		margin-top:0;
	}
	.ansQues .middleleft{
		margin-bottom:0;
	}
	.qsPage .middleright{
		display:none;
	}
	.qsPage .middleleft{
		margin-bottom:0;
	}
	.headermenu{
		position: absolute;
		left: 7px;
		bottom: 0;
		margin-left:0;
	}
	.topicList ul li {
		width: 49%;
	}
	.askHead{
		/*position:absolute;
		right:7px;
		top:1px;*/
	}
	.newB {
		position: absolute;
		right: 7px;
		top: 1px;
	}
	.headermenu #nav{
		width:100vw;
		left:-7px;
	}
	.searchpeopleWrap .peopleBox{
		width:100%;
		padding:0 0 0 0;
	}
	.topProText{
		padding-left:170px;
	}
	.notifyLink ul li.homeSmall{
		display:inline-block;
	}
	.answerpopup{
		margin:0 auto;
		width:100%;
		position:absolute;
	}
	.fancybox-inner,
	.fancybox-wrap{
		width:100vw !important;
		height:100vh !important;
	}
	.fancybox-wrap{
		top:0 !important;
		left:0 !important;
	}
	.newAll .vMiddle{
		max-height:80px;
	}
}
@media screen and (max-width: 680px) {
	.noclass .smallText{
		float:none;
		width:100%;
		margin-right:0;
		margin-bottom:10px;
	}
	.smallText input[type="text"], .smallText input[type="email"], .smallText input[type="password"]{
		float:none;
		width:100%;
		margin-right:0;
	}
	.noclass .bluebtn{
		display:block;
		margin-top:10px;
		width:90px;
		min-width:90px;
		padding:0 10px;
	}
	.noclass .dobBox  {
		display:block;
		float:none;
		margin-right:0;
	}
	.noclass{
		position:relative;
	}
	.noclass .lightbtn {
		position:absolute;
		bottom:10px;
		left:100px;
	}
}	
@media screen and (max-width: 650px) {
	.smF span{
		display:none;
	}
	.cnEdt,
	.edtEml{
		width:20px;
	}
	.descProShort ul li a{
		padding:0;
		color:#2a91e8;
		background:none !important;
		text-align:center;
		line-height:1;
		height:auto;
	}
	.descProShort ul{
		text-align:center;
	}
	.descProShort ul li a:hover{
		color:#000;
	}
	.descProShort ul li i{
		padding:0;
		position:static;
	}
	.descProShort ul li{
		margin:0 4px !important;
		width:89px;
	}
	.descProShort ul li span{
		display:block;
		padding-top:5px;
	}
	.blogText{
		padding-right:0;
	}
	.bloglist figure {
		float: none;
		width: 100%;
		margin: 0 0 12px;
	}
	.moreSub ul li{
		width:33.33333333%;
	}
	.commentform {
		width: 86%;
	}
	.namebox {
		width: 230px;
	}
	.slidestep .signupleft {
		width: 100%;
	}
	.slidestep .frmsml input[type="text"], .sliderow .addrow {
		width: 88%;
	}
	.addremove {
		float: left;
		margin-left: 33px;
	}
	.bx-wrapper .bx-pager {
		/*display: none;*/
	}
	.signupbox.slidestep .formrow {
		margin-bottom: 30px;
	}
	.signupthumb{
		display:none;
	}
	.firstsignup{
		width:100%;
		margin-bottom:30px;
	}
	.firstsignup .buttonbox{
		width:100%;
	}
	.namebox{
		width:69%;
	}
	.signupcont {
		 -webkit-box-shadow:none; 
		-moz-box-shadow:none;
		 box-shadow: none; 
	}
	.signupwrap{
		padding:0 0;
	}
	.signupleft{
		width:100%;
	}
	.frmsml input[type="text"] {
		width: 88%;
	}
	.signupbox.slidestep .signupthumb{
		display:none;
	}
	.topicList ul li {
		width: 49%;
	}
	.rightSrc {
		width: 45%;
	}
	.blockArrow ul li a span{
		display:none !important;
	}
	.listQuestion .usertop {
		padding-right: 96px;
	}
	.singleQs .usertop{
		padding-right: 30px;
	}
	.blockArrow{
		top:10px;
	}
	.ansbox .blockArrow{
		top:0px;
	}
	.topProText ul li{
		width:49%;
		padding-right:0;
	}

	.anshead figure {
		width: 35px;
		height: 35px;
	}
	.ansdtl {
		padding-left: 42px;
	padding-top: 10px;
	}
	.anshead  .ansdtl {
	padding-top: 2px;
	}
	.ansdtl a {
		font-size: 14px;
	}
	.des-text{font-size:13px}
	.txtn{font-size:13px}
	.countsec .circle {
		width: 36px;
		height: 36px;
		line-height: 36px;
		margin-bottom: 5px;
	}
	.peopleBox p
	{
		font-size:12px;
	}
	.listWrap
	{
		min-height:100px;
	}
	.peopleBox
	{
		margin-bottom:10px;
	}
	.listName li
	{
		font-size:18px;
	}
	.profileTab .filterBtn{border-left:none;border-right:none}
	.smallRow{border-left:none;border-right:none; padding-left:0; padding-right:0; }
	.botRrow{    padding: 15px 5px;border-left:none;border-right:none}
	.editForm{
		right:0;
	}
	.ansdtl a {
		font-size: 12px;
	}
	.textE {font-size:12px;}
	.tabContact ul li img {
		margin-right: 6px;
		width: 24px;
		height: auto;
	}
	.rightPop ul li
	{
		font-size:13px;
	}
	.hovernxt .leftPop figure
	{
			width: 100px;
		height: 100px;
	}
	.contactEdit img{
		margin-top: 7px !important;
	}
	.nofrm img{
		margin-top:5px !important;
	}
	.contactEdit input[type="text"], .contactEdit input[type="email"], .contactEdit input[type="password"]{
		width:65%;
	}
	.contactEdit .bluebtn{
		width:15% !important;
	}
	.tabContact{
		padding-left:0;
		padding-right:0;
		border-left:none;
		border-right:none;
	}
	.commntList h4{float:none}
}
@media screen and (min-width: 581px) {
	.smlScreen{
		display:none !important;
	}
	.profix{
		display:none !important;
	}
	.onlyD{
		display:none !important;
	}
	
}
@media screen and (max-width: 580px) {
	.savePage .usertop figure{
		float:left;
	}
	.usertop samp{
		display:block;
		margin-left:0;
	}
	.topicListBot .usertop .hovernxt{
		float:left;
	}
	.qsPage .hovernxt{
		float:left;
	}
	.qsPage .blockArrow ul li:nth-child(2){
		display:none;
	}
	.topicListBot .usertop:after{
		content:'';
		display:table;
		clear:both;
	}
	.profilecont:after{
		display:none;
		content:normal;
	}
	.smF{
		font-size:18px;
	}
	.smF i{
		font-size:20px;
	}
	.smF span{
		display:none;
	}
	.noGap{
		padding-left:90px !important;
	}
	.onDesk{
		display:none !important;
	}
	.notifyWrap{
		/*right:-85px;*/
	}
	.topnotify:before{
		/*right: 94px;*/
	}
	.frndList:before {
		/*right: 182px;*/
	}
	.topMessage:before{
		/*right: 137px;*/
	}
	.fbComment button span{
		display:none;
	}
	.fbComment button{
		padding:0 10px;
	}
	.fbComment textarea{
		padding-right:40px;
	}
	.fbComment button i{
		margin-right:0;
	}
	.smlScreen{
		display:none;
	}
	.lrgScreen{
		
	}
	.BlogCatList ul li{
		width:50%;
		margin: 20px 0 0 0;
	}
	.breadcrumb{
		padding:10px 10px;
	}
	.moreSub ul li a{
		font-size:16px;
		padding:6px 10px;
	}
	.moreSub ul li{
		padding: 0 1px 1px 0;
	}
	.moreSub{
		padding: 0 9px 4px 10px;
	}
	.blogMenu .slideBlogMenu ul li a {
		padding: 10px 10px 7px;
	}
	.topfilter h2{
		text-align:center;
		margin-top:0;
	}
	.rightView ul li:first-child{
		margin-right:0;
	}
	.rightView ul li{
		margin:0 0 0 0;
		padding:0 10px;
	}
	.rightView h2{
		margin:0 0 5px;
	}
	.hadLeft{
		width:100%;
		float:none;
	}
	.rightView{
		float:none;
		width:180px;
		margin:0 auto;
		margin-top: 15px;
	}
	.contactHead h2{
		font-size:20px;
	}
	.frndSrch{
		width:100%;
		margin-top:12px;
		position:relative;
	}
	.adnanceSrc{
		display:block;
		width:100%;
		padding-left:0px;
	}
	.srchTool{
		float:right;
		margin:0 0 12px 0;
		position:absolute;
		bottom:100%;
		right:0;
	}
	.filCol{
		width:100%;
		margin-bottom:10px;
	}
	.filCol:last-child{
		margin-bottom:0;
	}
	.commentform {
		width: 82%;
	}
	.sociallogin a {
		width: 100%;
	}
	.fblogin {
		margin-bottom: 12px;
	}
	.logintag {
		font-size: 20px;
		margin-bottom: 22px;
	}
	.remember {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.loginbutton input, .loginbutton button {
		width: 48%;
		font-size: 23px;
	}
	.loginheader img {
		width: 135px;
		height: auto;
	}
	.headersearch {
		position: relative;
		right:0px;
		top: 0;
		width:100%;
	}
	.headermid {
		width: 100%;
		padding: 0 10px;
		/*position:relative;*/
	}
	.showRight{
		margin:0 3px !important;
	}
	.headermenu {
		float: left;
	}
	.logo {
		width: auto;
		padding: 0 10px;
		display:none;
	}
	.smallNavbar, #showLeft, .showRight, .askHead{
		margin: 20px 3px;
	}
	#showLeft {
		margin-left: 0;
	}
	.header-right {
		padding-right: 0;
		width: auto;
		float: right;
		margin-right: 10px;
		/*position: absolute;
		bottom:16px;
		right: 10px;*/
	}
	ul.onDesk {
		right: -10px;
		/*margin-top:16px;*/
	}
	.filter-left {
		width: 100%;
		margin-bottom: 15px;
	}
	.filter-right {
		width: 100%;
	}
	.filter-left span, .filter-right span {
		line-height: 36px;
		float:left;
	}
	.topfilter select {
		width: 75%;
	}
	.footertop {
		text-align: center;
		padding: 15px 0;
	}
	.footerleft {
		width: 100%;
		margin-bottom: 5px;
	}
	.footer-right {
		width: 100%;
	}
	.homelink img {
		position: static;
	}
	.qstext {
		width: 83%;
	}
	.sharelist {
		width: 100%;
		margin-top: 10px;
	}
	.commentform {
		width: 78%;
	}
	.logincontent h3 {
		font-size: 24px;
	}
	.signupthumb {
		width: 90px;
	}
	.signupstep {
		padding-top: 30px;
		padding-bottom: 60px;
	}
	.header-lan ul {
		height: 60px;
	}
	.slidestep .frmsml input[type="text"], .sliderow .addrow {
		width: 86%;
	}
	.logo-cont {
		margin-top: 7px;
	}
	.slidestep {
		padding-bottom: 30px;
	}
	.signupcont h2 {
		font-size: 26px;
		padding-top: 25px;
	}
	.frmsml input[type="text"]{
		width:81%;
	}
	.signupbox .buttonbox{
		padding-top:0;
	}
	.signupbox .formrow{
		margin-bottom:19px;
	}
	.signupleft .formrow .frmsml .bluebtn{
		float:right;
	}
	.slidestep .signupleft .formrow .frmsml .bluebtn{
		float:left;
	}
	.signupsteprow .signupleft, .signupbox.formstep4 .buttonbox{
		width:100%;
	}
	.signupright{
		width:100%;
	}
	.signupright ul{
		float:left;
		width:100%;
	}
	.signupsteprow .frmsml input[type="text"]{
		margin-right:10px;
		width:86%;
	}
	.namebox{
		width:63%;
	}
	.frmsml input[type="text"] {
		width: 86%;
	}
	.boxlabel{
		width:100%;
		margin-bottom:6px;
	}
	.boxtext{
		width:100%;
	}
	.boxdeta{
		font-weight:600;
	}
	.settingbox{
		padding:16px 12px;
	}
	.settingbox h3{
		font-size:20px;
		margin-bottom:18px;
	}
	.header-right .smallNavbar{
		display:inline-block;
	}
	.header-right a.profilecont{
		width:60px;
		margin-right:0;
		display:inline-block;
		float:none;
		vertical-align:middle;
		margin-left:3px;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-right: 0 !important;
		width: auto !important;
	}
	.headersearch input[type="search"], .headersearch input[type="text"]{
		-webkit-border-radius: 16px;
		-moz-border-radius: 0px;
		-ms-border-radius: 0px;
		border-radius: 0px;
	}
	.newAll.srcCont .chatRight a{
		font-size:0;
		line-height:0;
	}
	.newAll.srcCont .chatRight a i{
		font-size:15px;
		line-height:26px;
	}
	/*
	.fixedans .manageheight{
		display:none !important;
	}
	.fixedans .ansQues{
		position:static;
	}
	
	.fixedans .anstopuser .question-tags {
		display: none;
	}
	.fixedans .question-tags {
		display: block;
	}
	.fixedans .answertop{
		display:block;
	}
	.fixedans .anstopuser{
		margin-bottom:15px;
	}
	.fixedans .vwans{
		display:none;
	}*/
	.fixedans .anstopuser .question-tags{
		width:100%;
		/*margin-top:8px;*/
		padding-right:0;
	}
	.fixedans .ansQues{
		padding-bottom:15px;
	}
	.fixedans .vwans {
		bottom: 17px;
	}
	.questionHead h3{
		margin-bottom:7px;
	}
	.fixedans .vwans {
		bottom: 17px;
	}
	.socialans{
		width:100%;
		margin-top:12px;
	}
	.questionHead h3{
		font-size:18px;
	}
	.formstep4 .signupsteprow:nth-child(2){
		margin-bottom:0;
	}
	.showRight{
		display:none;
	}
	.header-right .showRight{
		display:none;
	}
	.notifyLink {
		/*position: absolute;
		bottom: 16px;
		margin-top: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);*/
		/*margin-left: -12px;*/
	}
	.headermenu{
		/*position: static;
		left: 7px;
		bottom: 0;
		margin-left:0;*/
	}
	.blogLeft h3{
		font-size:19px;
	}
	.blogRight h2{
		font-size:19px;
	}
	.contactBottom h2{
		font-size:19px;
	}
	.contactMap iframe{
		height:300px;
	}
	.header-right{
		padding:20px 0px 20px 3px;
	}
	.notifyLink{
		margin-top:20px;
	}
	.topicSearch h2{
		font-size:20px;
	}
	.topicList h3{
		font-size:20px;
	}
	.rightSrc {
		width: 250px;
	}
	.askHead{
		top:2px;
	}
	.likeReplay span{
		display:none;
	}
	.detailsLeft h2{
		font-size:20px;
	}
	.blogmeta a span{
		display:none;
	}
	.filterRow .bluebtn{
		width:11%;
	}
	.filterRow input[type="text"] {
		width: 100%;
	}
	.homeQues .usertop:after {
		content: '';
		display: table;
		clear: both;
	}
	.homeQues .usertop samp {
		display: block;
		margin-left: 0;
	}
	.homeQues .usertop figure {
		float: left;
	}
	.profileTab .filterBtn{
		padding-left:0;
		padding-right:0;
	}
	.profileTab .filterBtn ul li a{
		line-height: 33px;
		padding: 8px 13px 5px;
	}
	.smallText input[type="text"], .smallText input[type="email"], .smallText input[type="password"]{
		width:100%;
		margin-right:0%;
	}
	.contactEdit .bluebtn{
		width:21%;
		padding:0 10px;
	}
	.dobBox{
		width:100%;
		margin-right:2%;
	}
	.datebox{
		margin-right:2%;
		width:32%;
	}
	.sbBox{
		width:25%;
	}
	.sbBox .datebox{
		width:100%;
	}
	.fixedans .anstopuser .question-tags{
		display:none;
	}
	.fixedans .vwans {
		position: static;
		float: none;
		display: block;
		width: 115px;
		margin: 0 auto;
	}
	.fixedans .ansQues{
		padding:5px;
	}
	.fixedans .question-tags{
		display:none;
		margin-bottom:38px;
	}
	a.vwans.active{
		position: static;
		float: none;
		display: block;
		width: 115px;
		margin: 0 auto;
		margin-bottom: -58px;
		margin-top: 38px;
	}
	.notbook{
		display:none;
	}
	.notifyWrap h2{
		font-size:16px;
	}
	.topicNext figure{
		width:90px;
	}
	.topicNext h2{
		font-size:18px;
	}
	.askqsForm .formFld{
		padding-left:0;
	}
	.forwordForm.askqsForm  .label{
		float: none;
		line-height: 1;
		font-size: 15px;
		display: block;
		margin: 0 0 5px;
	}
	.ansbtn.textRight{
		text-align:center;
	}
	
}

@media screen and (max-width: 479px) {
	.addP label.addBtn{
		/*font-size:25px;*/
		width:auto;
		padding:3px 5px;
		background:none;
		margin-bottom:10px;
	}
	.addP label.addBtn span{
		display:none;
	}
	.pTab .filterBtn ul li a {
		line-height: 25px;
		padding: 8px 16px 8px;
		font-size: 18px;
	}
	.topProRow figure .bluebtn {
		position: absolute;
		width: 50px;
		margin-bottom: 12px;
		height: 22px;
		line-height: 22px;
		font-size: 12px;
	}
	.topProRow figure .bluebtn i {
		margin-right: 1px;
	}
	.recHead h2 {
		font-size: 18px;
	}
	.sortable{
		width:100%;
	}
	.topicNext h2 {
		font-size: 16px;
	}
	.smF{
		font-size:16px;
	}
	.topicNext h2 a span{
		display:none;
	}
	.nextTop{
		margin-top:20px;
	}
	.topicNext figure {
		width: 80px;
	}
	.notifyWrap{
		width:360px;
		right: -30px;
	}
	.frndList:before {
		right: 101px;
	}
	.topnotify:before{
		right:35px;
	}
	.topMessage:before{
		right: 68px;
	}
	.homeQues .usertop:after{
		content:'';
		display:table;
		clear:both;
	}
	.homeQues .usertop samp{
		display:block;
		margin-left:0;
	}
	.homeQues .usertop figure{
		float:left;
	}
	.moreSub ul li{
		/*width:50%;*/
	}
	.editBox .textfld{
		padding-left:90px;
	}
	span.dstext{
		text-align:left;
		width:17%;
	}
	.loginbutton input, .loginbutton button {
		width: 100%;
		margin-bottom: 12px;
	}
	.loginbutton input:last-child, .loginbutton button:last-child {
		margin-bottom: 0;
	}
	.topfilter select {
		width: 70%;
	}
	.topfilter select {
		width: 63%;
	}
	.filter-left span, .filter-right span {
		margin-right: 0;
	}
	.qstext {
		width: 100%;
		margin-top: 9px;
	}
	.qsdate {
		top: 13px;
	}
	.answerpopup-wrap {
		padding: 15px;
	}
	.leftlink li {
		display: block;
		margin: 0 0 5px;
	}
	.firstsignup .buttonbox {
		width: 100%;
	}
	.firstsignup .buttonbox a, .firstsignup .buttonbox input, .firstsignup .buttonbox button {
		min-width: 115px;
	}
	.signupthumb {
		width: 24%;
		margin-top: 0;
	}
	.signuptext {
		margin-bottom: 25px;
	}
	.firstsignup .buttonbox {
		padding-top: 0;
	}
	.firstsignup .formrow {
		margin-bottom: 15px;
	}
	.firstsignup .buttonbox a, .firstsignup .buttonbox input, .firstsignup .buttonbox button {
		min-width: 100px;
		margin: 5px 0;
	}
	.steptxt {
		font-size: 15px;
	}
	.stepicon {
		margin-right: -20px;
	}
	.stepbox .stepicon:nth-child(2) {
		margin-left: -20px;
	}
	.slidestep .frmsml input[type="text"], .sliderow .addrow {
		width: 85%;
	}
	.frmsml input[type="text"]{
		width:83%;
	}
	.bd_year{
		width:100px;
	}
	.sexbox{
		width:30%;
	}
	.addrow ul li{
		width:50%;
	}
	.signupsteprow .frmsml input[type="text"]{
		width:83%;
	}
	.sliderow{
		padding:10px 10px;
	}
	.actionBox{
		right:10px;
	}
	span.dstext.fText{
		width:17%;
	}
	.strtdate{
		width:83%;
		padding-right:0;
		margin-bottom:8px;
	}
	.endDate {
		width:83%;
		padding-left:0;
	}
	.leftPadd{
		padding-left:0 !important;
		text-align:center;
	}
	.btnRow{
		padding-left:0 !important;
	}
	.btnRow input[type="submit"]{
		float:right;
	}
	.smallNavbar, #showLeft, .showRight, .askHead, .notifyLink ul li a{
		width:27px;
		height:27px;
		line-height:23px;
		font-size:13px;
	}
	.header-right a.profilecont{
		padding-top: 0;
		padding-bottom: 0;
	}
	.header-right a.profilecont{
		width:45px;
		margin-left:0;
	}
	.smallNavbar, #showLeft, .showRight, .askHead{
		margin:20px 2px;
	}
	span.userthumb{
		width:27px;
		height:27px;
	}
	.profilecont:after{
		line-height:27px;
	}
	.notifyLink ul li{
		margin-right:2px;
	}
	.notifyLink {
		margin-top: 17px;
	}
	.askHead{
		top:7px;
		margin-left:0 !important
	}
	.headersearch{
		padding-right:65px;
	}
	.askHead img{
		width:13px;
	}
	.forwordForm .textfld{
		padding-left:0;
		word-wrap: break-word;
	}
	.forwordForm  .label{
		line-height: normal;
		float: none;
		margin-bottom: 4px;
		display: block;
	}
	.forwordForm h2{
		font-size:19px;
		margin-bottom:12px;
	}
	.filterRow input[type="text"] {
		width: 100%;
	}
	.filterRow .bluebtn {
		width: 13%;
	}
	.homeComm ul li {
		width: 49%;
		margin: 20px 0px 0 2px;
		padding:0 15px 0 0;
		vertical-align:middle;
	}
	.homeComm ul li:nth-child(even){
		padding-right:0;
	}
	.wrapCont figure img{
		height:42px;
		width:auto;
	}
	.profileTab .filterBtn ul li{
		
	}
	.profileTab .filterBtn ul li a{
    font-size: 13px;
    font-weight: 600;
    padding: 5px 6px;
	}
	
	.tabContWrap .textfld .cnclBtn, .tabContWrap .textfld .bluebtn{
		min-width:100px;
	}
	.middleleft h3 a
	{
		    font-size: 14px;
	}
	p{font-size: 13px;}
	
	.topProRow figure {
		width: 100px;
		height: 100px;
	}
	.addP{
		height: 100px;
	}
	.topProText {
		padding-left: 120px;
	}
	.contactEdit input[type="text"], .contactEdit input[type="email"], .contactEdit input[type="password"]{
		/*width:82%;*/
	}
	.contactEdit .bluebtn{
		width:16% !important;
	}
	.cleckall {
		float: none;
		margin-top: -7px;
		margin-bottom: 10px;
	}
	.descProShort ul li a{
		font-size:14px;
	}
	.descProShort ul li {
		margin: 0 3px !important;
		width: 80px;
	}
	.notifyWrap h2{
		padding:10px 15px;
	}
	.notifyWrap ul li{
		padding:12px 15px;
	}
	.notText em{
		font-size:14px;
	}
	.notifyWrap ul li i{
		font-size:25px;
	}
	.topnotify .notText {
		padding-left:52px;
	}
	.askQs.wQs .fa {
		line-height: 1;
		font-size: 13px;
		position: relative;
		top: 0px;
	}
	.askQs.wQs {
		width: 27px;
		line-height: 1;
		height: 27px;
		margin-top: 27px;
		margin-right: 0;
	}
	.newB{
		width:61px;
	}
}

@media screen and (max-width: 450px) {
	.sliderow .addrow {
		width: 83%;
	}
	.sliderow {
		position: relative;
	}
	.formslide .addrow h4 {
	/*margin-bottom:20px;*/
	}
	.slidestep .frmsml input[type="text"] {
		width: 83%;
	}
	.topicList ul li{
		width:100%;
		margin-right:0;
		padding-right:0;
	}
	.peopleBox h4{
		font-size:16px;
	}
	.hoverSpace{
		width:290px;
	}
	.leftPop{
		width:100%;
		float:none;
	}
	.rightPop{
		padding-left:0;
	}
}
@media screen and (max-width: 430px) {
	.editImg{
		float:none;
	}
	.fixedans .vwans {
		bottom: 2px;
		font-size: 14px;
		left:10px;
		right:auto;
	}
	.fixedans .newqsd .vwans{
		/*left:auto;
		right:8px;
		bottom:18px;*/
	}
	a.vwans.active{
		bottom: 2px;
	}
	.fixedans .anstopuser .question-tags{
		margin-bottom:0px;
		/*display:none;*/
	}
	.fixedans .ansQues{
		/*padding-bottom:23px;*/
	}
	.fixedans .ansQues.newqsd{
		/*padding-bottom:15px;*/
	}
	
	.topProRow figure{
		float:none;
		margin:0 auto 0px;
	}
	.topProText{
		padding-left:0;
	}
	.profileTop h2{
		text-align:center;
		font-size:22px;
		margin-bottom:0;
	}
	.editName{
		margin-bottom:10px;
	}
	.topProText ul li {
		margin: 9px 0 0;
		font-size: 12px;
	}
	.topProText ul li i {
    width: 13px;
}
	.topProRow {
		margin-bottom: 15px;
	}
	.descProShort ul li {
		padding: 5px 1px !important;
		width: auto;
		margin:0 !important;
		border-right:#ddd 1px solid;
		width:80px;
	}
	.descProShort ul li:last-child {

		border-right:none;
	}
	.descProShort ul li span {
		    font-size: 13px;
   /* font-weight: bold;*/
	}
	.descProShort ul{
		margin-left:-15px;
		margin-right:-15px;
		background:#f4f4f4;
		border-top:#ddd 1px solid;
		border-bottom:#ddd 1px solid;
		
	}
	.editAbout h3{
		font-size:16px;
	}
	.editForm{
		top:11px;
	}
	.editAbout h4 {

		font-size: 15px;
	  
	}
	.profileTop{padding: 5px;
	   border:none
	}
	.contactNext {
		padding: 15px 10px;
	}
	
}
@media screen and (max-width: 400px) {
	.pTab .filterBtn ul li a {
		line-height: 20px;
		padding: 8px 12px 8px;
		font-size: 15px;
	}
	.frndList:before {
		right: 105px;
	}
	.topnotify:before{
		right:40px;
	}
	.topMessage:before{
		right: 73px;
	}
	.question-tags li a{
		padding:0 14.5px;
	}
	.mobileCount ul li:after{
		margin:0 8px;
	}
	.addEml{
		font-size:13px;
	}
	.forwordForm.askqsForm  .label{
		font-size:14px;
	}
	.noGap {
		padding-left: 73px !important;
	}
	label.checkstyle {
		font-size: 14px;
	}
	.smallAdd{
		padding-right:0;
	}
	a.adSrc{
		position:static;
	}
	.bluebtn.attachBtn {
		padding: 0 12px;
		font-size: 13px;
	}
	.notifyWrap{
		width:286px;
		right:-35px;
	}
	.blogTab .filterBtn{
		text-align:center;
	}
	.BlogCatList ul{
		padding:0 0;
	}
	.BlogCatList ul li span{
		font-size:16px;
	}
	.BlogCatList ul li{
		/*width:100%;*/
		padding:0 10px;
	}
	.peopleBox figure{
		width: 65px;
		height: 65px;
		border: 1px solid #ccc !important;
		border-left: none;
		margin-top: 17px;
	}
	.conThumb{
		width:85px;
	}
	.shortDesc figure{
		border:1px solid #ccc;
	}
	.chatRight{
		width:30px;
		padding:0 5px;
	}
	.peopleDesc{
		margin-right:30px;
	}
	.descTop {
		padding: 10px;
	}
	.peopleDesc{
		padding-left:85px;
	}
	
	.remember {
		text-align: center;
		    font-size: 16px;
	}
	.turmslink {
		text-align: left;
	}
	
	.commentform {
		width: 74%;
	}
	.sliderow .addrow {
		width: 100%;
	}
	.slidestep .buttonbox a, .slidestep .buttonbox input, .slidestep .buttonbox button {
		min-width: 85px;
	}
	.signupbox .buttonbox a, .signupbox .buttonbox input, .signupbox .buttonbox button{
		min-width:100px;
	}
	.frmsml input[type="text"]{
		width:78%;
	}
	.signupleft .formrow .frmsml .bluebtn{
		float:left;
	}
	.signupsteprow .frmsml input[type="text"]{
		width:83%;
	}
	.namebox{
		width:100%;
		margin-right:0;
		margin-bottom:17px;
	}
	.sexbox{
		width:100%;
	}
	.bd_day, .bd_month{
		width:100%;
		margin:0 0 12px;
	}
	.bd_year{
		width:100%;
	}
	.slidestep .frmsml input[type="text"] {
		width: 81%;
	}
	.sliderow .addrow{
		width:100%;
	}
	.addremove{
		width:100%;
		margin:0;
	}
	.addremove a{
		display:inline-block;
		vertical-align:top;
		margin:0 10px 0 0;
	}
	.sliderow .addrow ul li{
		width:100%;
	}
	.signupsteprow .frmsml input[type="text"] {
		width: 81%;
	}
	.votelink li a{
		font-size:12px;
		padding: 0 32px 0 12px;
	}
	.conLeft .textfld{
		padding-left:0;
	}
	.conLeft .formLine .label{
		margin-top:0;
		display:block;
		float:none;
		line-height:1;
		margin-bottom:5px;
	}
	.formTag{
		margin-bottom:15px;
	}
	.topicList ul li{
		width:100%;
		margin-right:0;
		padding-right:0;
	}
	.filterBtn ul li a{
		font-size:18px;
	}
	.filterRow input[type="text"] {
		width: 100%;
	}
	.filterRow .bluebtn {
		width: 18%;
	}
	.qsPage .blockArrow ul li a img{
		height:18px;
	}
	.blockArrow ul li{
		margin:3px 0 0 7px;
	}
	.listQuestion .usertop{
		padding-right:66px;
	}
	.newAll .peopleBox figure{
		margin-top:5px;
	}
	.newAll .peopleBox h4{
		font-size:16px;
	}
	.contList.tabContWrap{
		padding:0 0;
	}
	.homeComm ul li{
		width:48%;
	}
	.wrapCont figure img{
		height:25px;
	}
	.wrapCont figure{
		width:38px !important;
		width:auto;
	}
	.cTex{
		font-size:16px;
	}
	.cText{
		font-size:14px;
	}
	.editAbout .saveDeta .addbox{
		width:48%;
	}
	.contactEdit input[type="text"], .contactEdit input[type="email"], .contactEdit input[type="password"]{
		width: 78%;
		margin-right: 0;
	}
	.contactEdit .bluebtn {
		width: 17% !important;
		padding: 0 7px;
	}
	.descProShort ul li {
		padding: 5px 1px !important;
	}
	.rememberbox input + .checkbox{    width: 21px;
    height: 21px;}
}
@media screen and (max-width: 380px) {
	.tabAbout .editBox .textfld{
		padding-left:0;
	}
	.editAbout .editBox .label{
		margin-top:0;
		display:block;
		margin-bottom:3px;
		width:100%;
	}
	.descProShort ul li{
		width:73px;
	}
	.jilterList{
		width:285px;
	}
}

@media screen and (max-width: 360px) {
	.commentform {
		width: 69%;
	}
		.addrow ul li{
		width:100%;
		}
	.signupsteprow .frmsml input[type="text"] {
		width: 78%;
	}
	.rightSrc {
		width: 220px;
	}
	.tabAbout .pEdit{
		width:100%;
	}
	.editAbout .saveDeta .addbox{
		width:48.5%;
		margin-left:1px;
		margin-right:1px;
	}
		.descProShort ul li {
    padding: 5px 1px !important;
  
}
}
