/*************Put By Alapan Chatterjee on 27-05-2016***************/
.chatHeader{display:block;background-color: #d8d8d8;padding:0 14px;font-size: 0;box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);position: relative;z-index: 2;}
.chatHeader .lnks{display:inline-block;vertical-align:top;color: #3e3e3e;font-size: 17px;font-weight: 600;line-height: 42px;margin: 0 24px 0 0;padding: 0 16px;position:relative;}
.chatHeader .lnks:after{/* content:""; */display:none;position:absolute;bottom:2px;left:0;width:100%;height:2px;background-color: #cacaca;}
.chatHeader .lnks:hover:after,
.chatHeader .lnks.active:after{display:block;}
.chatHeader .lnks:hover,
.chatHeader .lnks.active{color:#0062b5;}
.msgSrchUser{display:block; position:absolute; top:0; left:0; width:100%; padding:10px;}
.msgSrchUser .fldArea{display:block; position:relative;}
.msgSrchUser .fldArea .fld{display:block;width:100%;padding:4px;background: #fff;border: 1px solid #c9c9c9;height: 32px;font-size: 15px;color: #222;padding: 2px 34px 2px 8px;}
.msgSrchUser .fldArea .btn{display:block;position:absolute;top: 0;right: 0;width: 34px;text-align: center;line-height: 32px;background: transparent;border: none;padding: 0;height: 100%;color: #797979;font-size: 16px; cursor:pointer;} 
.msgSrchUser .fldArea .btn:focus{outline:none;}



.msgwrapper{ padding:0 10px 0 0; max-width:1280px;}
/* MESSAGE SECTION START */
.messgSection{/* max-width:950px; margin:0 auto; */ display:block; position:relative;}
.msgHdr{background:#cd595a; /* border-bottom:2px #ffa031 solid; */ position:relative; padding:12px 10px;}
/* .msgHdr:after{background:#ffa031; width:1px; position:absolute; left:30%; top:0; height:100%; content:""; margin-left:-1px;} */
.msgHdr .lftpart{width:30%; float:left; padding:12px 10px;}
.msgHdr .msgTtl{display:block; float:left; color:#fff; font-size:16px; font-weight:600; display:block; line-height:20px; margin-bottom:4px;}
.msgHdr .lftpart .inbxAllRd{line-height:22px;}
.inbxStat{float:right; display:block; color:#fff; font-size:13px; font-weight:600;}
.inbxStat a{display:inline-block; line-height:22px; border-radius:2px; color:#FFF; font-size:12px; font-weight:600; padding:0 12px; text-decoration:none;}
.mrkAll{float:right; display:block; font-size:12px; font-weight:600;}
.mrkAll a{color:#FFF;}
.friendslistbtn{display:none; cursor:pointer;}

.chatMmbrSec{position:relative; min-height:400px; padding-left:320px;}
.memberPnl{ width:320px; height:100%; overflow:auto; position:absolute; left:0; top:0; overflow:hidden; padding:54px 0 0 0;}
.mmbrPnlSrch{background:#f6f6f6; padding:10px; border-bottom:1px #EEE solid;}
.mmbrSrchfld{display:block; padding-right:40px; position:relative;}
.mmbrSrchfld input[type="text"]{border:1px #d2d2d2 solid; font-size:12px; height:32px;}
.mmbrSrchfld button{position:absolute; top:0; right:0; background:#E4E4E4; color:#444; padding:0; height:32px; width:32px; line-height:32px; border-bottom:2px #D4D4D4 solid;}
.mmbrSrchfld button:hover{background:#ff8a00; color:#FFF; border-color:#e47e06;}

.chatMmbrList{position:absolute; width:100%; overflow:auto; height:534px; top:54px; left:0;}
.chatMmbrList li{border-bottom: 1px #e8e8e8 solid;position:relative;}
.chatMmbrList li > a{display:block;padding: 8px 88px 14px 60px;height: 60px;position:relative;text-decoration:none;color:#333;}
.chatMmbrList li > a:hover,
.chatMmbrList li.selectli a{background:#dcdcdc !important;/*  color:#FFF; */}
.chatMmbrList li .user{display:block;width:50px;height:50px;position:absolute;left:0;top: 5px;border-radius:100px;overflow:hidden;background-color:#fff;}
.chatMmbrList li .user img{display:block; width:100%; height:auto; min-height:100%;}
.chatMmbrList li:last-child{border:none;}
.chatMmbrList li .nameTm{display:block; margin-bottom:0;}
.chatMmbrList li .nameTm p{display:block;color:#716c6c;font-size:13px;line-height: 15px;margin:4px 0 0 0; font-weight:500
; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.chatMmbrList li .nameTm .name{display:block;text-align:left;width:100%;font-size:14px;font-weight:600;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;position:relative;padding: 0 0 0 18px;margin: 3px 0 0 0;}
.chatMmbrList li .nameTm .name .online,
.chatMmbrList li .nameTm .name .offline{display:block;position:absolute;top: 5px;left:0;width: 9px;height: 9px;background-color: #8d8d8d;border-radius:100px;}
.chatMmbrList li.selectli .nameTm .name .offline,
.chatMmbrList li:hover .nameTm .name .offline{background-color:#8d8d8d;}
.chatMmbrList li .nameTm .name .online{background-color:#75d801;}

.chatMmbrList li a:hover .nameTm .name,
.chatMmbrList li a:hover .nameTm p,
.chatMmbrList li.selectli a .nameTm .name,
.chatMmbrList li.selectli a .nameTm p{color:#000;}
.chatMmbrList li .nameTm .time{display:inline-block; vertical-align:top; text-align:left; width:100%; font-size:11px; color:#666;}
/* .chatMmbrList li a:hover .time{color:#FFF;} */
.chatMmbrList li .nameTm .name .online{color:#167a39;}
.chatMmbrList li .nameTm .name .offline{color:#CCC;}
.chatMmbrList li .nameTm i.fa{font-size:10px; width:16px; margin-right:6px;}
.chatMmbrList li .status{display:block; overflow:hidden; text-overflow:ellipsis; -webkit-text-overflow:ellipsis; -moz-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap; -webkit-white-space:nowrap; -moz-white-space:nowrap; -ms-white-space:nowrap; -o-white-space:nowrap; color:#777; font-size:12px;}
.chatMmbrList li.unread .status{font-weight:700; color:#454545;}
.chatMmbrList li .status i.fa{font-size:16px; width:20px;}
.unreadMsg{width:16px; height:12px; margin-right:4px; display:inline-block; background:url(../images/msg-icon.png) no-repeat 0 0; vertical-align:-2px;}
.chatMmbrList li a:hover .unreadMsg{background-position:0 100%;}
/* .chatMmbrList li a:hover .time, .chatMmbrList li a:hover .status, .chatMmbrList li.unread a:hover .status{color:#FFF;} */

.chatSec{}
.chatMsgCont{padding:0 0 20px 0; background-color:#fff;}
.loadErlrMsg{display:block; margin-bottom:20px;}
.loadErlrMsg a{display:block; padding:6px 10px; text-align:center; text-decoration:none; background:#fff; color:#09F; font-size:12px; font-weight:600;}
.loadErlrMsg a:hover{background:#fff;}

.chatListArea{height:400px; overflow:auto; padding:0 20px;}
.chatListArea ul{padding:0; margin:0; list-style:none;}
.chatListArea ul li{padding:0 0 12px 0; position:relative; min-height:40px; margin-bottom:10px;}
/* .chatListArea li .user{display:none; width:40px; height:40px; position:absolute; left:0; top:0; background:url(../images/user.png) no-repeat; background-size:cover;} */
.chatListArea li .user img{width:40px; height:40px; border-radius:2px; background:#DDD;}
.chatListArea li:last-child{margin:0;}
.chatListArea li .name{display:none; font-size:12px; line-height:13px; font-weight:600; color:#0AF;}
.chatListArea li .time{font-size:11px; color:#898989; position:absolute; font-weight:400; left:0; bottom:0;}
.chatListArea li p{font-size: 12px;line-height:16px;font-weight:600;color:#777;padding: 7px 14px;border-radius:16px;display:inline-block; margin:4px 0;}
.chatSbmtform{background:#fff;padding:0;border: 1px solid #d2d2d2;}
.chatSbmtform textarea{border:none;display:block;width:100%;height: 76px;font-size:14px;font-weight:500;color:#6d6868;background-color:#fff;padding: 6px 82px 6px 10px;}
.chatSbmtform textarea:focus{outline:none;}
.chatSec .attachFld{display:block;float:left;vertical-align:middle;/* width:65%; */margin: 0 3px 0 0;}
.chatSec .chatSubmit{display:inline-block; vertical-align:middle; text-align:right; /* width:35%; */}
.attachFileBtn{padding: 0;display:inline-block;border-radius: 3px;font-size: 19px;line-height: 20px;font-weight: 600;color: #333;padding: 4px; cursor:pointer;}
.attachFileBtn .fa{/* font-size:13px; *//* margin:0 3px 0 0; */}
.attachFileBtn:hover{color:#006ecb;}
.attachFileBtn input[type="file"]{display:none;}
/* .chatSec .chatSubmit button:hover{background:#ed8000; border-color:#d07101;} */
.postBtnDiv{float:right;}
.browseAll{max-width:1070px; margin:0 auto 30px;}
#msgOverlay{display:none;}

.chatwithfriendslist ul li .frnds .name{position: relative;}
.chatMmbrList li .skype,
.chatwithfriendslist .skype{display:block; position:absolute; bottom:12px; left:64px; cursor:pointer; width:16px; cursor:pointer; width:50px;}
.chatwithfriendslist .skype {
    clear: both;
    display: block;
    left: 20px;
    line-height: 16px !important;
    position: relative;
    top: -5px;
   }
.
.chatMmbrList li .skype p a,
.chatwithfriendslist .skype p a{padding:0; height:auto;}
.chatMmbrList li .skype p a img,
.chatwithfriendslist .skype p a img{width:46px; height:auto; max-width:none; margin:0 !important;}
.chatMmbrList li .skype p a:hover,
.chatwithfriendslist .skype p a:hover{background:transparent !important;}

.chatMmbrList li .skype ul,
.chatwithfriendslist .skype ul{width:146px !important; z-index:1 !important;}
.chatwithfriendslist .skype ul{width:110px !important;}
.chatMmbrList li .skype ul li,
.chatwithfriendslist .skype ul li{line-height:24px; padding:4px !important;}
.chatMmbrList li .skype ul li a,
.chatwithfriendslist .skype ul li a{height:auto; padding:0;}
.chatMmbrList li .skype ul li a:hover,
.chatwithfriendslist .skype ul li a:hover{background:transparent;}
/* MESSAGE SECTION END */
.chatListArea ul li.msgDateShow{ padding:10px 0; text-align:center; position:relative;}
.chatListArea ul li.msgDateShow span{ display:inline-block; padding:1px 10px; background:#fff; font-size:11px; font-weight:600;  position:relative; color:#898989;}
/* .chatListArea ul li.msgDateShow span:after{ content:""; display:block; width:50px; height:2px; background:#e56a6d; position:absolute; top:10px; right:-50px;} */
.chatListArea ul li.msgDateShow:before{ content:""; display:block; width:100%; height:1px; background:#dbdbde; position:absolute; top:50%; left:0; margin:-1px 0 0 0;}
.userChat .name a{ color:#cd595a;}
.chatListArea li.userChat > p{color:#252525; background:#f0f0f0; margin:4px 0 4px 0; position:relative; display:inline-block; max-width:100%;}
/* .chatListArea li.userChat > p:before{content:"";display:block;position:absolute;top:0;right:100%;border-right: 11px solid #ffe8ec;border-bottom: 13px solid transparent;margin: 0 -2px 0 0;} */
.chatListArea li.meChat{text-align:right;}
.chatListArea li.meChat > p{background:#ffde00; color:#222;}
/* .chatListArea li.meChat > p:before{content:"";display:block;position:absolute; top:0; right:auto; left:100%; border-right:none; border-left: 11px solid #e7e7e7;border-bottom: 13px solid transparent;margin: 0 0 0 -2px;} */
.chatListArea li.meChat .time{left:auto; right:0;}
.chatSubmit button{padding: 4px;background: transparent;border: none;font-size: 17px;line-height: 20px;color: #353535; cursor:pointer;}
.chatSubmit button:hover{color:#006ecb;}
.chatSubmit button:focus{outline:none !important;}
.chatSbmtformBX{display:block; /* border:2px solid #006ecb; */ padding:0; /* background-color:#d8d8d8; */ position:relative;}
.formRWbtns{text-align:right;margin:0;position:absolute;top: 5px;right: 8px;}
.chatMmbrList li .lastOnline{display:block; position:absolute; top:24px; right:20px; color:#bdb9b9; font-size:11px; line-height:13px; font-weight:600;}
.chatMmbrList li a:hover .lastOnline,
.chatMmbrList li.selectli a .lastOnline{color:#000;}

.msgUTxt{display:block;color: #616161;font-size: 14px;line-height: 16px;font-weight: 500;padding: 0 0 0 18px;position: relative;margin:3px 0 0 0;}
.msgUTxt .fa{display:block;position:absolute;top: 2px;left:0;width: auto !important;margin: 0;font-size: 13px !important;}
.chatMmbrList li:hover .msgUTxt,
.chatMmbrList li.selectli .msgUTxt{color:#000;}








